<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Simple Sentiment Analysis App</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Simple Sentiment Analysis App
            </div>
            <nav class="navigation">
                <a href="https://www.meaningcloud.com/" target="_blank">Meaning Cloud</a>
            </nav>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event);" novalidate>
                    <input id="url" type="text" name="input" value="" placeholder="URL" required>
                    <input type="submit" name="submit" value="Submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>&copy; 2022</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                        .catch((error) => {});
                });
            }
        </script>
    </body>
</html>
