<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Amazing Travel App</title>
</head>

<body>
  <header>
    <div class="logo">
      The Amazing Travel App
    </div>
  </header>

  <main>
    <section class="form">
      <form id="trip-attributes" novalidate>
        <fieldset>
          <legend>Destination</legend>

          <label for="trip-attributes_dest-city">City</label>
          <input id="trip-attributes_dest-city" type="text" placeholder="Bueons Aires" value="" required>

          <label for="">Country or State</label>
          <input id="trip-attributes_dest-country-state" type="text" placeholder="Argentina" value="" required>
        </fieldset>

        <fieldset>
          <legend>Departure Date</legend>

          <label for="trip-attributes_depart-year">Year</label>
          <select id="trip-attributes_depart-year"></select>

          <label for="trip-attributes_depart-month">Month</label>
          <select id="trip-attributes_depart-month"></select>

          <label for="trip-attributes_depart-day">Day</label>
          <select id="trip-attributes_depart-day"></select>
        </fieldset>

        <input type="submit" value="Submit">
      </form>
    </section>

    <section class="results">
      <div id="results"></div>
    </section>
  </main>

  <footer>
    <p>&copy; 2022</p>
  </footer>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .catch((error) => { });
      });
    }
  </script>
</body>

</html>
