form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;

  label {
    font-size: .875rem;
  }

  legend {
    margin-bottom: 10px;
  }
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 4px 0 12px;

  &[type="submit"] {
    margin: 40px 0 0;
    cursor: pointer;
  }
}

.date-controls {
  display: flex;
  flex-direction: column;
}

.date-controls_input {
  margin: 5px 0;
}

/* TABLET & DESKTOP */
@media (min-width: 768px) {
  .date-controls {
    flex-direction: row;
  }

  .date-controls_input {
    margin: 0 16px 0 0;
  }
}
